* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
.error,
.spinner,
.page404 {
  color: #ffffff;
  font-size: 28px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
