.banner404 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-size: cover;
}
.page404 {
  color: #ffffff;
  margin: 0;
  a {
    color: #ffffff;
  }
}
