.app-list-item {
  font-size: 1.25rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 0 10px;
  background-color: #fff;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.btn-show-delete-modal {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: red;
}

.app-list-item button:focus {
  box-shadow: none;
  outline: none;
}
.app-list-item .btn-edit {
  color: #09d113;
}
.app-list-item .btn-star {
  color: #ffd700;
}
.app-list-item .btn-trash {
  color: red;
}
.app-list-item .fa-heart {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: red;
  transition: 0.3s all;
  transform: translateX(30px);
  opacity: 0;
}

.app-list-item-label {
  display: block;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  transition: 0.5s all;
}
.app-list-item-date {
  font-size: 10px;
  color: #aeaeae;
}
.app-list-item-edit {
  display: block;
}
.app-list-item-edit-hide {
  display: none;
}

.app-list-item.like .fa-heart {
  opacity: 1;
  transform: translateX(0px);
}

.app-list-item.important .app-list-item-label {
  color: #ffd700;
}

.app-list-item.important .btn-star {
  color: #aeaeae;
}

.editForm {
  width: auto;
  flex-grow: 1;
  margin: 5px 0;
}
.editForm button {
  margin-left: 3px;
}
